
<div class="container">
    <h1 class="header">{{header}}</h1>
  
  <div class="responsive-grid">
    <mat-card *ngFor="let card of cards()">
  
      <mat-card-header class="header">
        <mat-card-title>{{ card.title }} </mat-card-title>
  
      </mat-card-header>
  
      <mat-card-content>
        <a target="_blank" href="{{card.recipeURL}}">
  
        <img class="mealImage" mat-card-image [src]="card.imageUrl" />
      </a>
  
        <p>{{ card.description }}</p>
  
      </mat-card-content>
  
    </mat-card>
  </div>
  <div>
    <h2>Einkaufsliste</h2>
    <mat-selection-list class="shoppingList">
      <mat-list-option class="listItem" *ngFor="let ing of ingredients()">
        {{ing.amount}} {{ing.unit}} {{ing.name}}
      </mat-list-option>
     </mat-selection-list>
  </div>
  </div>